{% extends "layout.html" %}

{% block title %}
    Record Results
{% endblock %}

{% block main %}
    <h2>Record Results</h2><br>
    <form action="/recordresults" method="POST">
        <div class="form-group">
            <select class="form-control" name="leaguecarry">
                <option value="{{ leagueid }}" selected>{{ (leaguename[0]['name']) }}</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="player1">
                <option disable selected value>Player 1</option>
                {% for y in range(x) %}
                    <option value="{{ (players[y]['playername']) }}">{{ (players[y]['playername']) }}</option>
                {% endfor %}
            </select>
            <select class="form-control" name="player2">
                <option disable selected value>Player 2</option>
                {% for y in range(x) %}
                    <option value="{{ (players[y]['playername']) }}">{{ (players[y]['playername']) }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button class="btn btn-dark" type="submit">Confirm</button>
        </form>
{% endblock %}